<h1><%= @dojo["branch"] %>'s <%= @student["dojo"] %> <%= @student["first_name"] %> <%= @student["last_name"] %></h1>
<h3><%= @student["email"] %></h3>
<% if @cohorts.length >= 2 %>
    <h1> Cohort </h1>
    <table>
        <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
            </tr>
        </thead>
        <tbody>
        <% @cohorts.each do |cohort|%>
            <% if @student["id"] != cohort["id"]  %>
            <tr>
                <td><%= cohort["first_name"] %></td>
                <td><%= cohort["last_name"] %></td>
                <td><%= cohort["email"] %></td>
            </tr>
            <% end %>
        <% end %>
        </tbody>


    </table>
<% end %>
<a href="/dojos">Home</a> | <a href="/students/<%= @student["id"] %>/edit">Edit</a>