<h1><%= @dojo["branch"] %>'s <%= @student["dojo"] %> <%= @student["first_name"] %> <%= @student["last_name"] %></h1>
<h3><%= @student["email"] %></h3>
<% if @cohorts.length >= 2 %>
    <h1> Cohort </h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
        <% @cohorts.each do |cohort|%>
            <% if @student["id"] != cohort["id"]  %>
            <tr id="student<%= cohort["id"] %>">
                <td><%= cohort["first_name"] %></td>
                <td><%= cohort["last_name"] %></td>
                <td><%= cohort["email"] %></td>
                <td>
                    <a class="btn btn-primary" href="/students/<%= cohort["id"] %>">show</a>
                    <a class="btn btn-info" action-type="edit_student" href="/students/<%= cohort["id"] %>/edit">Edit</a>
                    <a class="btn btn-danger" action-type="delete_student" get-href="/students/<%= cohort["id"] %>/edit" href="/students/<%= cohort["id"] %>/destroy">Delete</a>
                </td>
            </tr>
            <% end %>
        <% end %>
        </tbody>
    </table>
<% end %>
<a  class="btn btn-primary" href="/dojos">Home</a> 

<!-- Edit student modal -->
<div class="modal fade" id="editStudentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="editModalContent">
            <div class="modal-header">
                <h5 class="modal-title" id="editStudentModalTitle">Editing </h5>
                <button type="button" class="close close-modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/students/" method="post" id="updateStudentForm">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="_method" value="patch">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="student[first_name]" id="updateStudentFirstName">
                    </div>
                        <label>Last Name</label>
                        <input type="text" class="form-control" name="student[last_name]" id="updateStudentLastName">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="student[email]" id="updateStudentEmail">
                    </div>
                    <div class="form-group">
                        <label>Dojo</label>
                        <select name="student[dojo]" class="form-select" id="updateStudentDojo"></select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Update">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete student modal -->
<div class="modal fade" id="deleteStudentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteStudentModalTitle">Delete </h5>
                <button type="button" class="close close-modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="post" id="deleteDojoForm">
                <div class="modal-body">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="_method" value="delete">
                    <p id="deleteStudentModalText">Are you sure you want to delete ? </p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

