<tr id="student<%= student["id"] %>">
    <td><%= student["first_name"] %></td>
    <td><%= student["last_name"] %></td>
    <td><%= student["email"] %></td>
    <td>
        <a class="btn btn-primary" href="/students/<%= student["id"] %>">show</a>
    </td>
</tr>