<tr id="student<%= student["id"] %>">
    <td><%= student["first_name"] %></td>
    <td><%= student["last_name"] %></td>
    <td><%= student["email"] %></td>
    <td>
        <form action="/students/<%= student["id"] %>" id="showStudentForm">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="submit" value="Show" class="btn btn-primary">
        </form>
    </td>
</tr>