<tr id="student<%= cohort["id"] %>">
    <td><%= cohort["first_name"] %></td>
    <td><%= cohort["last_name"] %></td>
    <td><%= cohort["email"] %></td>
    <td>
        <form action="/students/<%= cohort["id"] %>/destroy" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <a class="btn btn-primary" action-type="show_student" href="/students/<%= cohort["id"] %>">show</a>
            <a class="btn btn-info" action-type="edit_student" href="/students/<%= cohort["id"] %>/edit">Edit</a>
            <a class="btn btn-danger" action-type="delete_student" href="/students/<%= cohort["id"] %>/destroy">Delete</a>
        </form>
    </td>
</tr>