<tr id="student<%= cohort["id"] %>">
    <td><%= cohort["first_name"] %></td>
    <td><%= cohort["last_name"] %></td>
    <td><%= cohort["email"] %></td>
    <td>
        <a class="btn btn-primary" href="/students/<%= cohort["id"] %>">show</a>
        <a class="btn btn-info" action-type="edit_student" href="/students/<%= cohort["id"] %>/edit">Edit</a>
        <a class="btn btn-danger" action-type="delete_student" href="/students/<%= cohort["id"] %>/destroy">Delete</a>
    </td>
</tr>